@media only screen and (max-width: 1024px) {
    .container .textContainer { 
        bottom: 20%;
    }
}

@media only screen and (max-width: 425px) {
    .container .textContainer h1 {
        font-size: 2.5rem;
    }

    .container .textContainer h2 {
        font-size: 2rem;
    }  
}